*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;


}
body{
    background-color: #080808;
    color:#fff;
}
#header{
    height: 100vh;
    width: 100%;
    background-image: url(image/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}

.contact-left
{
   flex-basis: 35%; 
}
.contact-right{
    flex-basis: 60%; 
}

form input, form textarea{
   
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
}


.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;

}
.copyright i{
    color: #ff004f;
}

#msg{
    color: #61b752;
    margin-top: -20px;
   
   }